.wrapper{
	width: 800px;
	height: 600px;
	margin-left: auto;
	margin-right: auto;
}
.header{
	height: 93px;
	background-color: white;
}
.line{
	height: 15px;
	background: -webkit-linear-gradient(white,#F0F0F0);
	background: -o-linear-gradient(white,#F0F0F0);
	background: -moz-linear-gradient(white,#F0F0F0);
	background: linear-gradient(white,#F0F0F0);
}
.logo{
	width: 308px;
	height: 69px;
	padding-left: 10px;
	padding-top: 18px;
	padding-bottom: 6px;
	margin-right: 37px;
	float: left;
}
.logo_img{
	width: 100%;
	height: 100%;
}
.menu{
	width: 445px;
	height: 93px;
	float: left;
}
.menu_word{
	width: 100%;
	height: 22px;
	text-align: center;
	font-family: cursive;
	line-height: 5px;
	font-size: 10px;
	font-weight: bold;
	font-style: italic;
	color: #6C6C6C;
}
.menu1_word{
	width: 63px;
	height: 100%;
	padding-left: 7px;
	padding-right: 6px;
	margin-right: 15px;
	float: left;
}
.menu2_word{
	width: 72px;
	height: 100%;
	padding-left: 2px;
	padding-right: 2px;
	margin-right: 15px;
	float: left;
}
.menu3_word{
	width: 66px;
	height: 100%;
	padding-left: 5px;
	padding-right: 5px;
	margin-right: 15px;
	float: left;
}
.menu4_word{
	width: 74px;
	height: 100%;
	padding-left: 1px;
	padding-right: 1px;
	margin-right: 13px;
	float: left;
}
.menu5_word{
	width: 80px;
	height: 100%;
	margin-right: 3px;
	float: left;
}
.menu_pic{
	width: 100%;
	height: 71px;
}
.menu1_pic{
	width: 63px;
	height: 65px;
	padding-top: 6px;
	padding-left: 7px;
	padding-right: 6px;
	margin-right: 15px;
	float: left;
	/*91*/
}
.menu2_pic{
	width: 72px;
	height: 68px;
	padding-top: 3px;
	padding-left: 2px;
	padding-right: 2px;
	margin-right: 15px;
	float: left;
	/*91*/
}
.menu3_pic{
	width: 66px;
	height: 68px;
	padding-top: 3px;
	padding-left: 5px;
	padding-right: 5px;
	margin-right: 15px;
	float: left;
	/*91*/
}
.menu4_pic{
	width: 74px;
	height: 71px;
	padding-right: 1px;
	padding-left: 1px;
	margin-right: 15px;
	float: left;
	/*91*/
}
.menu5_pic{
	width: 76px;
	height: 69px;
	padding-top: 2px;
	margin-right: 5px;
	float: left;
	/*81*/
}
.content_center{
	height: 192px;
}
.center_left{
	width: 537px;
	height: 192px;
	float: left;
}
.center_word{
	width: 510px;
	height: 166px;
	padding-left: 10px;
	padding-right: 17px;
	padding-top: 7px;
	padding-bottom: 19px;
}
.center_word h2{
	font-family:Tahoma;
	text-decoration: underline;
	color: #2894FF;
	font-size: 20px;
	line-height: 0.4;
	font-weight: lighter;
}
.center_word p{
	font-family:Tahoma;
	font-size: 10px;
	color: #4F4F4F;
}
.center_right{
	width: 263px;
	height: 192px;
	float: right;
}
.center_pic{
	width: 240px;
	height: 159px;
	margin-top: 16px;
	margin-bottom: 17px;
	margin-left: 14px;
	margin-right: 9px;
	background: url(../images/demo.png);
	-webkit-box-shadow: -3px 3px 15px 7px #E0E0E0;
	-moz-box-shadow: -3px 3px 15px 7px #E0E0E0;
	box-shadow: -3px 3px 15px 7px #E0E0E0;
}
.center_pic_leftword{
	width: 133px;
	height: 39px;
	padding-top: 120px;
	float: left;
	text-align: right;
}
.center_pic_rightword{
	width: 107px;
	height: 44px;
	padding-top: 115px;
	float: right;
	text-align: center;
}
.center_pic p{
	font-family:Tahoma;
	font-size: 10px;
	color: #4F4F4F;
}
.content_bottom{
	height: 300px;
}
.bottom_left{
	margin-left: 15px;
	margin-right: 25px;
	margin-top: 12px;
	margin-bottom: 13px;
	float: left;
}
.bottom_center{
	margin-right: 25px;
	margin-top: 12px;
	margin-bottom: 13px;
	float: left;
}
.bottom_right{
	margin-right: 15px;
	margin-top: 12px;
	margin-bottom: 13px;
	float: left;
}
.blue_square{
	width: 238px;
	height: 273px;
	border-radius: 10px;
	border-color: #D2E9FF;
	border-style: solid;
	border-width: 1px;
	background: -webkit-linear-gradient(white,#D2E9FF);
	background: -o-linear-gradient(white,#D2E9FF);
	background: -moz-linear-gradient(white,#D2E9FF);
	background: linear-gradient(white,#D2E9FF);
}
.blue_square_pic{
	width: 169px;
	height: 149px;
	padding-left: 34px;
	padding-right: 35px;
	padding-top: 10px;
	padding-bottom: 0px;
}
.blue_square_word{
	width: 218px;
	height: 100px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 0px;
	padding-bottom: 14px;
}
.blue_square_word h2{
	font-family:Tahoma;
	color: #4F4F4F;
	font-size: 18px;
	line-height: 0.1;
	text-align: center;
	font-weight: lighter;
}
.blue_square_word p{
	font-family:Tahoma;
	color: #4F4F4F;
	font-size: 10px;
}